{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block header %}({{ group.title }}){% endblock %}
{% block content %}

    {% for post in posts %}
    <h1> {{ group.title }}  </h1>
    <br>
    <p>{{ group.description }}</p>
    
    <h2>
        Автор: {{ post.author.get_full_name }}, Дата публикации: {{ post.pub_date|date:"d M Y" }}
    </h2>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

{% endblock %} 